.landingPage {
    text-align: center;
}

.image {
    height: 20rem;
}

.sideBySide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

.stack p {
    text-align: left;
}
